#characterCard{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;;
    width: auto;
    margin: 1em;
}

#cardContent{
    max-width: 20em;
    align-items: flex-start;
}

.frame{
    height: 10em;
    width: 10em;;
    overflow: hidden;
}

.frame img {
    height: auto;
    width:10em;
}