#gameContainer{
    display: flex;
    justify-content: center;
}

#gameCard {
    justify-content: center;
    border: thick double;
    border-color: greenyellow;
    border-radius: 30px;
    width: 30em;
    height: 25em;
    background-color: black;
}

#gameCardText{
    font-family: 'VT323', monospace;
    color: greenyellow;
}

#gameCardButton{
    background-color: black;
    border: thick double;
    border-color: greenyellow;
    margin:5em 1em 1em 1em;
}

#gameWindow{
    align-items: center;
    width: 100%;
    height: 40em;
    background-size: 100%;
}
