#gameContainer{
    display: flex;
    justify-content: center;
}

#gameCard {
    justify-content: space-around;
    border: thick double;
    border-color: greenyellow;
    border-radius: 30px;
    width: 30em;
    height: 25em;
    background-color: black;
}

#gameCardText{
    font-family: 'VT323', monospace;
    color: greenyellow;
}

#gameCardButton{
    background-color: black;
    width: 10em;
    display: flex;
    justify-content: center;
    border: thick double;
    border-color: greenyellow;
    margin:1em 2em 1em 2em;
}
#gameStartButton{
    background-color: black;
    width: 10em;
    border: thick double;
    border-color: greenyellow;
    margin:1em 2em 1em 2em;
}

#gameCardAnswers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#gameWindow{
    align-items: center;
    width: 100%;
    height: 35em;
    background-size: cover;
    background-repeat: no-repeat;
}
