#inventoryCard{
    height: auto;
}

#itemList{
    width: 100%;
    display: block;
}

#itemList > div{
    text-align: left;
    padding-left: 0px;
    margin-bottom: .5em;
    margin-left: 1em;
}
#itemList > div > button{
    float: right;
    margin-right: 1em;
}