
#container {
    display: inline-flex;
    justify-content: center;
}

#setupForm {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}

#setupVehicles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    width: 100%;
}

#setupVehicles > .ui.card {
    display: flex;
    justify-content: center;
    margin: 1em;
}


div > .ui.card {
    width: 20em;
    height: 18em;
    margin: 1em;
}
#setupInventory{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}

#setupInventory > .ui.card {
    width: 10em;
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

#itemHeader{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 100;
}

#submittedVehicle{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 15em;
    z-index: 100;
}

#inventoryList{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 10em;
    z-index: 100;
}
#familyList{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 15em;
    z-index: 100;
}
