
#container {
    display: inline-flex;
    justify-content: center;
}

#setupForm {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}


div .ui.card {
    width: 20em;
    height: 18em;
    margin: 1em;
}

#itemHeader{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 100;
}

#inventoryList{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 10em;
    z-index: 100;
}
#familyList{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 15em;
    z-index: 100;
}

#inventoryList .ui.card{
    height:auto;
}
